# Supabase Cloud Database Configuration (Optional - can also be configured in Admin Panel UI)
VITE_SUPABASE_URL=https://sjudmshppklwhwgivnzw.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_YhEUvRLOVOA5pPTLiAHn1A_3Ye1djfx
