@import "tailwindcss";

@layer base {
  body {
    font-family: 'Hind Siliguri', 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
  }
}

@media print {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  #printable-receipt-card {
    border: 1.5px solid #000 !important;
    box-shadow: none !important;
    margin: 0 !important;
    max-width: 8in !important; /* Set custom width */
    height: 3in !important;    /* Set custom height */
    position: absolute !important; /* Position absolutely */
    left: 0 !important;             /* Align to the left */
    top: 0 !important;              /* Optional: top aligned */
    page-break-inside: avoid !important;
    /* Remove any default margins or paddings */
    margin: 0;
    padding: 0;
  }
  @page {
    size: 297mm 210mm; /* A4 Landscape */
    margin: 0; /* Remove default page margins */
  }
}